<h2>Algo sobre mi</h2>
<p>Me llamo Valentina y programar es mi forma de expresar la creatividad.</p>
<p>Antes de esta prueba no conocia Ruby ni Rails pero me ha sorprendido.</p>
<p>En mi carrera simepre he utilizado javascript y python para mi codigo.</p>
<p>Seguramente en un furuto voy a profundizar mi conoscimiento de este lenguaje.</p>
<p>De todos modos gracias por la oportunidad.</p>
<h5>Un saludo, Valentina</h5>